<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" lang="ko-kr">
<head>
<meta charset="UTF-8">
<title>게시글 수정</title>

<!-- summernote lite -->
<script th:src="@{/jquery/3.7.1/jquery.min.js}"></script>

<link th:href="@{/summernote/0.8.18/dist/summernote-lite.min.css}"
	rel="stylesheet">
<script th:src="@{/summernote/0.8.18/dist/summernote-lite.min.js}"></script>

<!-- 10.19 : summernote 한글 지원 관련 -->
<script th:src="@{/summernote/0.8.18/lang/summernote-ko-KR.js}"></script>

<script>
// 10.19
// summmernote 삽입 이미지 파일 업로드 전송
function sendFile(file, el) {

  // FormData 객체 
  // : https://developer.mozilla.org/ko/docs/Web/API/FormData
  let formData = new FormData();
  formData.append('file', file);
  
  // jQuery AJAX
  $.ajax({
	  
    data: formData,
    type: "POST", // 업로드시 필수사항
    url: '/memberProject/board/image',
    cache: false,
    contentType: false,
    enctype: 'multipart/form-data', // 업로드시 필수사항 
    processData: false,
    
    success: function(url) {
    	
    	console.log("이미지 URL : ", url);
    
    	$(el).summernote('editor.insertImage', url);
    	
     	// $('#imageBoard').append('<li><img src="'+url+'" width="480" height="auto"/></li>');
     	
    } //
    
  });
  
}

$(function() {
	
	// case-1
	// $('#boardContent').summernote(
			
	// case-2
	$('#boardContent').summernote(
			{
				placeholder : '글 내용을 작성하십시오',
				tabsize : 2,
				height : 300,
				toolbar : [ [ 'style', [ 'style' ] ],
						[ 'font', [ 'bold', 'underline', 'clear' ] ],
						[ 'color', [ 'color' ] ],
						[ 'para', [ 'ul', 'ol', 'paragraph' ] ],
						[ 'table', [ 'table' ] ],
						[ 'insert', [ 'link', 'picture', 'video' ] ],
						[ 'view', [ 'fullscreen', 'codeview', 'help' ] ] ]
			
				// 10.19
				,lang : 'ko-kr',
				
				// 참고) 전송 방법
				// 참고로, 컨텐츠 내의 삽입 이미지들을 아래와 같이 파일 업로드 처리를 하지 않으면,
				// base64 알고리즘으로 암호화된 데이터 스트림(data stream) 형태로 전송됩니다.
				
				// - 컨텐츠 내부의 삽입 이미지들 업로드 API Guide
				// : https://summernote.org/deep-dive/#callbacks			
				
				// 참고) 콜백 함수(callback) 
			    // : https://developer.mozilla.org/ko/docs/Glossary/Callback_function
				callbacks : {
					
					// 참고) onImageUpload 이벤트(event)
					// : https://summernote.org/deep-dive/#onimageupload
					
					onImageUpload: function(files, editor, welEditable) {
						
						console.log("업로드할 이미지 파일들 : ", files.length);
						
		                for (var i = files.length - 1; i >= 0; i--) {
		              		sendFile(files[i], this);
		                } // for
		              
		            } // onImageUpload
					
				} //callbacks
			
			});
});

window.onload = function() {
	
	// TODO
	// case-1
	// 게시글 내용
	let boardContent = document.getElementById("boardContent");
	let boardForm = document.getElementById("board_update_frm");
	
	// summernote actual component : 썸머노트의 실제 글내용 컴포넌트
	// F12 → Elements 탭 메뉴 코너에서 확인할 수 있습니다.
	let summernoteActualContent = document.querySelector(".note-editable");
	
	// case-1
	// 폼점검
	boardForm.onsubmit = () => {
		
		// TODO
		let content = summernoteActualContent.innerHTML;
				
		// 실제 전송용 필드에 입력
		boardContent.value = content;
		
		// 주의) summernote
		// 비어 있는 초기 상태 :  "<p><br></p>"(초기)
		// 편집 후 공백 : ""(편집중 공백)
		// <p>&nbsp;</p>
		// "<p><br></p>", "<p>&nbsp; &nbsp;</p>" => 공백 치환
		
		content = content.replaceAll('<p><br></p>', '')
					     .replaceAll('&nbsp;', '')
					     .replaceAll('<p>', '')
					     .replaceAll('</p>', '')
					     .trim()
					     
		console.log("content : ", content.length); 
		
		if (content.length == 0) {
		
			alert("게시글 내용을 입력하십시오.");
			boardContent.focus(); // 썸머노트의 실제 글내용 컴포넌트에 focus(입력 대기)
			
			return false; // 전송 취소
		}
		
		// 10.23 : 파일 업로드 사이즈 체크 : 10MB 보다 큰지 점검
		let boardFile = document.getElementById("boardFile");
		// 10.25 : 버그 패치 (빈 파일일 경우)
		let uploadFileSize = (boardFile.value == "") ? 0 : boardFile.files[0].size;
		
		const maxUploadFileSize = 10 * 1024 * 1024; // 10MB
		
		if (uploadFileSize > maxUploadFileSize) {
			
			alert("10 MB 보다 큰 파일은 올릴 수 없습니다.");
			boardFile.value = ""; // 초기화
			boardFile.focus(); // 재입력 대기
			return false;
		} //
		
		alert("글 수정 전송");
		
	} //
	
}
</script>
</head>
<body>

	<!-- layout -->
	<div layout:fragment="content" class="main_sect_pnl">

		<div class="content_sect_pnl">
		
			session(기존 정보) : [[${session.boardUpdateSess}]]
			<hr>
			[[${board}]]

			<form id="board_update_frm" th:action="@{'/board/updateProc.do'}"
				encType="multipart/form-data" method="post" th:object="${board}">
				
				<!-- 기존 정보 전송용 히든 필드 -->
				<input type="hidden" id="boardReRef" name="boardReRef" th:value="${board.boardReRef}" />
				<input type="hidden" id="boardReLev" name="boardReLev" th:value="${board.boardReLev}" />
				<input type="hidden" id="boardReRef" name="boardReRef" th:value="${board.boardReRef}" />
				<input type="hidden" id="boardReSeq" name="boardReSeq" th:value="${board.boardReSeq}" />
				<!--// 기존 정보 전송용 히든 필드 -->
				
				<h2 class="d-flex justify-content-center">게시글 수정</h2>

				<table class="table mx-auto mt-4" style="width: 800px;">
				
					<tr>
						<th scope="col" class="col-2">게시글 번호</th>
						<td>
							<input type="text" class="form-control" id="boardNum" name="boardNum" 
								th:value="${board.boardNum}" th:field="*{boardNum}" readonly />
						</td>
					</tr>

					<tr>
						<th scope="col">작성자</th>
						<td><input type="text" class="form-control" id="boardWriter"
							name="boardWriter" th:value="${board.boardWriter}" th:field="*{boardWriter}" readonly /></td>
					</tr>

					<tr>
						<th scope="col">패쓰워드</th>
						<td><input type="text" class="form-control" id="boardPass"
							name="boardPass" required 
							pattern="(?=.*[a-zA-Z])((?=.*\d)(?=.*\W)).{8,20}" title="최소 1개의 숫자 혹은 특수 문자를 포함하여 8~20자 사이로 패쓰워드를 입력하십시오" 
							th:field="*{boardPass}" /></td>
					</tr>

					<tr>
						<th scope="col">제목</th>
						<td><input type="text" class="form-control" id="boardSubject"
							name="boardSubject" required title="글제목을 입력하십시오" th:value="${board.boardSubject}" 
							th:field="*{boardSubject}"/></td>
					</tr>

					<tr>
						<th scope="col">내용</th>
						<td>							
							<!-- case-1 -->
							<textarea class="form-control" id="boardContent"
								name="boardContent" th:field="*{boardContent}" required>[[${board.boardContent}]]</textarea>
							
							<!-- case-2 -->
							<!-- <div id="boardContentDiv"></div>
							<input type="hidden" id="boardContent" name="boardContent" /> -->
						</td>
					</tr>

					<tr>
						<th scope="col">첨부파일</th>
						<td>
							<span th:if="${#strings.isEmpty(board.boardFile)}">첨부 파일 없음</span>
							
							<a th:href="@{'/board/download/'+${board.boardOriginalFile}+'/'+${board.boardFile}}" 
							   th:if="${!#strings.isEmpty(board.boardOriginalFile)}" 
							   th:utext="${board.boardOriginalFile}"></a><br>
							    
							<input class="form-control mt-3 mb-2" type="file" id="boardFile" name="boardFile" th:field="*{boardFile}">
						</td>
					</tr>
					
					<tr>
						<th scope="col">등록일</th>
						<td th:utext="${#dates.format(board.boardDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>

				</table>

				<div class="d-flex justify-content-center">
					<button type="submit" class="btn btn-primary">글수정 전송</button>
					&nbsp;
					<button type="reset" class="btn btn-primary">취소</button>
				</div>

			</form>

		</div>
		<!--// content -->

	</div>
	<!--// layout -->

</body>
</html>