<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" lang="ko-kr">
<head>
<meta charset="UTF-8">
<title>게시글 보기</title>

<!-- 10.26 -->
<style>
#reply_write_form {
 resize:none;
 height:5em;
 width:100%;
}
</style>

<!-- 10.26 (2) -->
<!-- bootstrap icons -->
<link rel="stylesheet" th:href="@{/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css}">


<!-- 10.26 : 댓글 전송용  -->
<!-- AJAX library axios -->
<script th:src="@{'/axios/1.5.0/dist/axios.min.js'}"></script>

<!-- 10.27 : 코드 다량 발생 → 별도 파일화 -->
<script th:src="@{'/js/board_view.js'}"></script>

<!-- 10.26 : 댓글 제어 -->
<script>
window.onload = () => {
		
	// 10.26 (2)
	// 개별글 로딩시 지금까지 집계된 댓글들 읽어오기
	
	let boardNum = '[[${board.boardNum}]]';
	
	// 10.27
	// 전체 댓글 로딩(불러오기) : board_view.js 파일로 함수 분리
	getAllReplies(boardNum);
	
	/* ***************************************************************************** */ 
 
	// 10.27
	// 댓글 작성 함수 : board_view.js 파일로 함수 분리
 	writeReply(boardNum, '[[${#authentication.name}]]');
	
	// 10.27
	// 댓글 수정 함수
	updateReply(boardNum, '[[${#authentication.name}]]');
	
	// 10.30
	// 댓글 삭제 함수
	deleteReplies(boardNum, '[[${#authentication.name}]]');
	
	// 10.30 (2)
	// (원)글 삭제 함수
	deleteBoard(boardNum, '[[${#authentication.name}]]');
	
 
} // onload
</script>
</head>
<body>

	<!-- layout -->
	<div layout:fragment="content" class="main_sect_pnl">

		<div class="content_sect_pnl">
		
		[[${board}]]

			<h2 class="d-flex justify-content-center">게시글 보기</h2>

			<table class="table mx-auto mt-4" style="width: 800px;">
			
				<tr>
					<th scope="col" class="col-2">게시글 번호</th>
					<td th:text="${board.boardNum}" class="col-10"></td>
				</tr>

				<tr>
					<th scope="col">작성자</th>
					<td th:utext="${board.boardWriter}"></td>
				</tr>

				<tr>
					<th scope="col">제목</th>
					<td th:utext="${board.boardSubject}"></td>
				</tr>

				<tr>
					<th scope="col">내용</th>
					<td>							
						<div id="boardContentDiv" th:utext="${board.boardContent}" contenteditable="false"></div>
					</td>
				</tr> 

				<tr>
					<th scope="col">첨부파일</th>
					<td>
						<span th:if="${#strings.isEmpty(board.boardFile)}">첨부 파일 없음</span>
						
						<a th:href="@{'/board/download/'+${board.boardOriginalFile}+'/'+${board.boardFile}}" 
						   th:if="${!#strings.isEmpty(board.boardOriginalFile)}" 
						   th:utext="${board.boardOriginalFile}"></a> 
					</td>
				</tr> 
				
				<tr>
					<th scope="col">등록일</th>
					<td th:utext="${#dates.format(board.boardDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>

			</table>
			
			<!-- -------------------------------------------------------------------------- -->
			
			<!-- 10.26 : 댓글 -->
			
			<!-- 댓글 영역  -->
			<!-- <div id="reply_pnl" class="mx-auto my-3 border border-top border-primary-subtle" style="width: 800px;"> -->
			
			<!-- 10.26 (2) -->
			<div id="reply_pnl" class="mx-auto my-3" style="width: 800px;">
			 
				<!-- 개별 게시글 전체 댓글 리스트 -->
				<div id="reply_list_pnl" class="bg-light my-3">
				 	<!-- 댓글 리스트 --> 
				</div>
				 
				<!-- 댓글 등록/수정 -->
				<div id="reply_write_update_pnl" class="my-3">
				 
					<textarea id="reply_write_form" name="reply_write_form" 
							  class="form-control border border-primary"
							  placeholder="댓글을  100자이내로 작성하십시오"></textarea>
				   
				</div>
				 
				<!-- 댓글 메뉴 -->
				<!-- 10.26 (2) : 정렬 교정 -->
				<div class="d-flex justify-content-end align-items-center my-2">
					
					<!-- 댓글 패쓰워드 -->
					<!-- 10.26 (2) : 정렬 교정 -->
					<input type="text" th:id="${'board_pass_' + board.boardNum}" 
						   th:name="${'board_pass_' + board.boardNum}" required 
						   class="form-control form-control-sm h-100 w-25 me-2">
					
					<!-- 댓글 메뉴 -->
					<a href="#" th:id="${'reply_write_btn_' + board.boardNum}" class="btn btn-outline-primary my-2 me-2">댓글 등록</a>
					<a href="#" th:id="${'reply_update_btn_' + board.boardNum}" class="btn btn-outline-primary my-2 me-2">댓글 수정</a>
					<a href="#" th:id="${'reply_delete_btn_' + board.boardNum}" class="btn btn-outline-primary my-2">댓글 삭제</a>
					
				</div>	
			
			</div>
			<!--// 댓글 영역  -->
			
			<!-- -------------------------------------------------------------------------- -->
			
			<div class="d-flex justify-content-center">
				<a type="button" class="btn btn-primary" th:href="@{/board/list.do}">게시글 목록</a>
				&nbsp;
				<!-- 10.25 : 글수정 링크 추가 -->
				<a type="button" class="btn btn-primary" 
					th:href="@{'/board/update.do?boardNum='+${board.boardNum}}">글수정</a>
					
				<!-- 10.30 (2) : (원)글삭제 링크 추가 -->	
				<a type="button" class="btn btn-primary ms-2" 
				    th:id="${'board_delete_btn_' + board.boardNum}"
					href="#">글삭제</a>
			</div>

		</div>
		<!--// content -->

	</div>
	<!--// layout -->

</body>
</html>