<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<!-- xmlns:sec="http://www.thymeleaf.org/extras/spring-security" -->
	
<div th:fragment="header">

	<!-- 인증 정보 확인  -->
	인증 정보 : [[${#authentication}]]

	<div class="header_sect_pnl">
	
			<!-- 10.17 : 
			
			- Spring Security/Thymeleaf
			: https://github.com/thymeleaf/thymeleaf-extras-springsecurity
			
			- Spring Security : Auth Method(인증/인가 관련 메서드)
			: https://cafe.naver.com/ezjava3/756
			
			-->
	
		<ul id="main_menu">
		
			<li><a th:href="@{/}">Home</a></li>
			
			<!-- 로그인 인증이 안되었을 때  -->
			<li sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></li>
			
			<li sec:authorize="isAnonymous()"><a th:href="@{/member/join.do}">회원 가입</a></li>
						
			<!-- 로그인 인증되었을 때   -->
			<li sec:authorize="isAuthenticated()"><a th:href="@{/welcome}">MyPage</a></li>
			
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></li>
			
			<li sec:authorize="isAuthenticated()"><a th:href="@{/member/view.do}">회원 정보 조회</a></li>
			
			<li sec:authorize="isAuthenticated()"><a th:href="@{/member/update.do}">회원 정보 수정</a></li>
			
			<!-- 10.18 -->
			<!-- <li sec:authorize="isAuthenticated()"><a th:href="@{/board/write.do}">게시글 쓰기</a></li> -->
			
			<!-- 10.23 -->
			<li sec:authorize="isAuthenticated()"><a th:href="@{/board/list.do}">게시글 목록</a></li>
			
			<!-- 등급(롤:role)이 관리자일 경우 -->
			<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/viewAllWithRoles.do}">회원 관리</a></li>
			
		</ul>

	</div>

</div>