<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" lang="ko-kr">
<head>
<meta charset="UTF-8">
<title>게시글 보기</title>

</head>
<body>

	<!-- layout -->
	<div layout:fragment="content" class="main_sect_pnl">

		<div class="content_sect_pnl">
		
		[[${board}]]

			<h2 class="d-flex justify-content-center">게시글 보기</h2>

			<table class="table mx-auto mt-4" style="width: 800px;">
			
				<tr>
					<th scope="col" class="col-2">게시글 번호</th>
					<td th:text="${board.boardNum}" class="col-10"></td>
				</tr>

				<tr>
					<th scope="col">작성자</th>
					<td th:utext="${board.boardWriter}"></td>
				</tr>

				<tr>
					<th scope="col">제목</th>
					<td th:utext="${board.boardSubject}"></td>
				</tr>

				<tr>
					<th scope="col">내용</th>
					<td>							
						<div id="boardContentDiv" th:utext="${board.boardContent}" contenteditable="false"></div>
					</td>
				</tr> 

				<tr>
					<th scope="col">첨부파일</th>
					<td>
						<span th:if="${#strings.isEmpty(board.boardFile)}">첨부 파일 없음</span>
						
						<a th:href="@{'/board/download/'+${board.boardOriginalFile}+'/'+${board.boardFile}}" 
						   th:if="${!#strings.isEmpty(board.boardOriginalFile)}" 
						   th:utext="${board.boardOriginalFile}"></a> 
					</td>
				</tr> 
				
				<tr>
					<th scope="col">등록일</th>
					<td th:utext="${#dates.format(board.boardDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>

			</table>

			<div class="d-flex justify-content-center">
				<a type="button" class="btn btn-primary" th:href="@{/board/list.do}">게시글 목록</a>
				&nbsp;
				<!-- 10.25 : 글수정 링크 추가 -->
				<a type="button" class="btn btn-primary" 
					th:href="@{'/board/update.do?boardNum='+${board.boardNum}}">글수정</a>
			</div>

		</div>
		<!--// content -->

	</div>
	<!--// layout -->

</body>
</html>